include head
    
    body.ng-cloak(ng-switch="loaded", ng-show="initialized")

        #landing(ng-controller="AuthCtrl", ng-switch-when="false")
            .form-container
                form(name="auth", ng-submit="submit()", ng-class="{shake: shake}")
                    .auth-message(ng-bind="message", ng-if="message")
                    input(name="name", ng-model="name", placeholder="name", required)
                    input(name="server", ng-model="server", placeholder="server address", required)
                    button.btn.submit(type="submit") submit

        main(ng-controller="MainCtrl", ng-switch-when="true")
            #toolbar.transition
                a#sidebar-icon(ng-click="toggleSidebar()")
                    .sidebar-icon-text
                .notification(ng-show="notification")
                #title(ng-bind="currentRoom")

            nav#sidebar.scroll.vertical.dark
                ul
                    li.heading.fancy
                        span rooms
                    li
                        form(ng-submit="join(room)")
                            input(type="text", name="room", ng-model="room", placeholder="enter a new room", tabindex="-2")
                            button.btn.btn-sm.submit(type="submit", ng-show="room") join
                    li(ng-repeat="(key, value) in rooms track by $index")
                        a(ng-bind="key", ng-click="select(key)", ng-class="{active: currentRoom === key}")
                        .notification(ng-show="rooms[key].notification")
            #overlay(onclick="document.body.classList.toggle('sidebar-open')")

            #messages.scroll.transition
                .container
                    .item.item-body(ng-repeat="message in rooms[currentRoom].messages track by $index")
                        div
                            .meta(ng-bind="::message.name")
                            .meta(ng-bind="::message.timestamp | fromNow")
                        p(ng-bind="::message.text")
                    .empty-container(ng-show="loaded && !rooms[currentRoom].messages.length")
                        div The message queue for "{{currentRoom}}" is empty

            form#message.transition(name="message", ng-submit="submit()")
                .container
                    textarea(name="text", type="text", ng-model="text", placeholder="write a new message here", tabindex="-1")
                    #submit.btn.btn-sm.btn-success.active(ng-click="submit()", ng-show="text") Send

    include scripts