@import '00_variables.styl'
@import 'nib'

.btn
    cursor pointer
    border 1px solid $border
    padding 10px
    display inline-block
    background transparent
    background-image none
    min-width 30px
    min-height 30px
    vertical-align middle

    &.btn-success
        color $green
        border-color $green

    &.btn-failure
        color $red
        border-color $red

    &.btn-light
        background $border
        border-color transparent
    &.btn-link
        padding 5px 7px
        background transparent
        border-color transparent
    &.btn-checkbox
        position relative
        border-color transparent
        background transparent
        vertical-align top
        &:before
            transition all 0.3s ease-in-out
            content ""
            position absolute
            left 6px
            top 6px
            z-index 1
            width 18px
            height 18px
            border 2px solid $border
        &.indeterminate:before
            background $border
        &.indeterminate:after
            content "-"
            position absolute
            left 6px
            top 6px
            text-align center
            width 18px
            height 18px
            line-height 1rem
            z-index 2
        &.selected:before
            transform rotate(-45deg)
            height 9px
            border-color $border
            border-top-style none
            border-right-style none

    &:disabled
        cursor not-allowed
        pointer-events none
        opacity .5
    &.active
        background $border

.btn-block
    display block
    text-align center
    clear both
    width 100%

.btn + .btn:not(.btn-block)
    margin-left 5px

.btn-xs
    padding 0 5px
    font-size .8em
    border-radius 1px
    min-height 0

.btn-sm
    padding 5px 10px
    font-size 12px
    line-height 1.5

.btn-group .btn + .btn
    margin-left -1px

.btn-group > .btn:not(:first-child):not(:last-child)
    border-radius 0

.btn-group > .btn:first-child
    margin-left 0

.btn-group > .btn:first-child:not(:last-child)
    border-top-right-radius 0
    border-bottom-right-radius 0

.btn-group > .btn:last-child:not(:first-child)
    border-top-left-radius 0
    border-bottom-left-radius 0