@import '00_variables.styl'
@import 'nib'

#message
    position fixed
    bottom 0
    left 0
    right 0
    z-index 2
    background #fcfcfc
    border-top 1px solid $border
    .container
        background white
        position relative
        width 100%
        margin 0 auto
        max-width 800px    
    textarea[type="text"]
        padding 10px 120px 10px 20px
        width 100%
    #submit
        position absolute
        right 0
        top 0
        width 100px
        height 100%
        text-align center
        font-weight 100
        font-size 21px
        line-height 50px
