@import '00_variables.styl'
@import 'nib'

html
    text-size-adjust 100%

body
    absolute top bottom left right
    overflow hidden
    font-family 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
    font-size 14px
    font-weight 300
    color $text

main
    absolute top bottom left right
    z-index 1
    background $bg
