@import '00_variables.styl'
@import 'nib'

[ng\cloak]
[ng-cloak]
.ng-cloak
    display none !important

.scroll
    overflow-y scroll
    -webkit-overflow-scrolling touch

@media (max-width: $extraSmallMax)
    .hide-mobile
        display none